<!doctype html>
<html ng-app="bciDashboard">
    <head>
        <title>BCI Dashboard</title>

        <link rel="stylesheet" href="visualizer.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css">
        <link rel="stylesheet" href="components/topo/topo.css">

        <script src="node_modules/socket.io-client/socket.io.js"></script>
        <script src="node_modules/smoothie/smoothie.js"></script>

        <script src="/node_modules/angular/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js"></script>
        <script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

        <script src="visualizer.js"></script>

        <script src="lib/chroma.min.js"></script>

        <script src="components/frequency/frequency.js"></script>
        <script src="components/time-series/time-series.js"></script>
        <script src="components/time/time.js"></script>
        <script src="components/alpha/alpha.js"></script>
        <script src="components/delta/delta.js"></script>
        <script src="components/beta/beta.js"></script>
        <script src="components/theta/theta.js"></script>
        <script src="components/topo/topo.js"></script>

    </head>
    <body>

        <main>

            <h1>BCI Dashboard</h1>

            <nav ng-init="mode = 'timeSeries'">
                <button ng-click="mode = 'timeSeries'">Time Series</button>
                <button ng-click="mode = 'frequency'">Frequency</button>
                <button ng-click="mode = 'filtered'">Frequency Bands</button>
                <button ng-click="mode = 'topo'">Topo</button>
            </nav>

            <section class="row" ng-if="mode == 'timeSeries'">
                <bci-time-series event-name="bci:time" class="block block-100"></bci-time-series>
            </section>

            <section class="row" ng-if="mode == 'frequency'">
                <bci-frequency event-name="bci:fft" class="block block-50"></bci-frequency>
            </section>

            <section class="row" ng-if="mode == 'filtered'">
                <bci-delta event-name="bci:fft"  class="block block-33"></bci-delta>
                <bci-theta event-name="bci:fft"  class="block block-33"></bci-theta>
            </section>

            <section class="row" ng-if="mode == 'filtered'">
                <bci-alpha event-name="bci:fft"  class="block block-33"></bci-alpha>
                <bci-beta event-name="bci:fft"  class="block block-33"></bci-beta>
            </section>

            <section class="row" ng-if="mode == 'topo'">
                <bci-topo event-name="bci:topo"  class="block block-50"></bci-topo>
            </section>

        </main>

    </body>
</html>
