<!doctype html>
<html ng-app="bciDashboard">
    <head>
        <title>BCI Dashboard</title>

        <link rel="stylesheet" href="node_modules/angular-chart.js/dist/angular-chart.css">
        <link rel="stylesheet" href="visualizer.css">
        <link rel="stylesheet" href="components/topo/topo.css">

        <script src="node_modules/socket.io-client/socket.io.js"></script>
        <script src="node_modules/smoothie/smoothie.js"></script>

        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/chart.js/Chart.js"></script>
        <script src="node_modules/angular-chart.js/dist/angular-chart.js"></script>

        <script src="visualizer.js"></script>

        <script src="lib/chroma.min.js"></script>

        <script src="components/frequency/frequency.js"></script>
        <script src="components/frequency-band/frequency-band.js"></script>
        <script src="components/time-series/time-series.js"></script>
        <script src="components/topo/topo.js"></script>

    </head>
    <body>

        <main>

            <h1>BCI Dashboard</h1>

            <nav ng-init="mode = 'timeSeries'">
                <button ng-click="mode = 'timeSeries'">Time Series</button>
                <button ng-click="mode = 'frequency'">Frequency</button>
                <button ng-click="mode = 'frequencyRadar'">Frequency Radar</button>
                <button ng-click="mode = 'frequencyBands'">Frequency Bands</button>
                <button ng-click="mode = 'topo'">Topo</button>
            </nav>

            <section class="row" ng-if="mode == 'timeSeries'">
                <bci-time-series event-name="bci:time" class="block block-75"></bci-time-series>
            </section>

            <section class="row" ng-if="mode == 'frequency'">
                <bci-frequency type="Line" event-name="bci:fft" class="block block-75"></bci-frequency>
            </section>

            <section class="row" ng-if="mode == 'frequencyRadar'">
                <bci-frequency type="Radar" event-name="bci:fft" class="block block-75"></bci-frequency>
            </section>

            <section class="row" ng-if="mode == 'frequencyBands'">
                <bci-frequency-band event-name="bci:fft"  type="delta" color="1" class="block block-33"></bci-frequency-band>
                <bci-frequency-band event-name="bci:fft"  type="theta" color="2" class="block block-33"></bci-frequency-band>
            </section>

            <section class="row" ng-if="mode == 'frequencyBands'">
                <bci-frequency-band event-name="bci:fft"  type="alpha" color="3" class="block block-33"></bci-frequency-band>
                <bci-frequency-band event-name="bci:fft"  type="beta" color="4" class="block block-33"></bci-frequency-band>
                <bci-frequency-band event-name="bci:fft"  type="gamma" color="5" class="block block-33"></bci-frequency-band>
            </section>

            <section class="row" ng-if="mode == 'topo'">
                <bci-topo event-name="bci:topo"  class="block block-50"></bci-topo>
            </section>

        </main>

    </body>
</html>
