
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #222222;
  margin: 0;
}

h1 {
  margin: 20px;
  font-weight: 300;
}

.capitalize {
  text-transform: capitalize;
}

.loading:after {
  content: 'Loading...';
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -40px;
  font-size: 12px;
}

nav {
  margin-left: 20px;
}


button {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  color: #ffffff;
  padding: 8px 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 2px;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

nav button:nth-child(1) {
  background-color: rgba(112,185,252,1);
}

nav button:nth-child(2) {
  background-color: rgba(138,219,229,1);
}

nav button:nth-child(3) {
  background-color: rgba(162,86,178,1);
}

nav button:nth-child(4) {
  background-color: rgba(144,132,246,1);
}

nav button:nth-child(5) {
  background-color: rgba(232,223,133,1);
  color: #000000;
}

nav button:nth-child(6) {
  background-color: rgba(148,159,177,1);
}

.row {
  display: flex;
}

.block {
  display: block;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: #333333;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.block h2 {
  position: absolute;
  margin: 0;
  top: 10px;
  right: 20px;
  font-weight: 300;
}

.block-25 {
  width: 25%;
  min-height: 200px;
}

.block-33 {
  width: 33%;
  min-height: 260px;
}

.block-50 {
  width: 50%;
  min-height: 400px;
}

.block-75 {
  width: 75%;
  min-height: 580px;
}

.block-100 {
  width: 100%;
  min-height: 580px;
}

.time-series canvas {
  margin: 40px 80px 40px 40px;
}

.time-series-channels,
.time-series-amplitudes {
  position: absolute;
  top: 60px;
  height: 450px;
  color: rgba(102,102,102,1);
  font-size: 12px;
}

.time-series-channels {
  width: 40px;
  left: 20px;
  text-align: left;
  color: #000000;
  font-weight: 500;
}

.time-series-amplitudes {
  right: 20px;
  text-align: right;
}

.time-series-channels ul {
  width: 100%;
}

.time-series-channels li {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.time-series-channels ul,
.time-series-amplitudes ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.time-series-duration {
  position: absolute;
  left: 50px;
  width: 98%;
  bottom: 22px;
  display: flex;
  color: rgba(102,102,102,1);
  font-size: 12px;
}

.time-series-duration time {
  width: 20%;
}