
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #222222;
  margin: 0;
}

h1 {
  margin: 20px;
  font-weight: 300;
}

.loading:after {
  content: 'Loading...';
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
}

nav {
  margin-left: 20px;
}


button {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  color: #ffffff;
  padding: 8px 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 2px;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

nav button:nth-child(1) {
  background-color: rgba(112,185,252,1);
}

nav button:nth-child(2) {
  background-color: rgba(138,219,229,1);
}

nav button:nth-child(3) {
  background-color: rgba(162,86,178,1);
}

nav button:nth-child(4) {
  background-color: rgba(144,132,246,1);
}

.row {
  display: flex;
}

.block {
  display: block;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: #333333;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.block h2 {
  position: absolute;
  margin: 0;
  top: 10px;
  right: 20px;
  font-weight: 300;
}

.block-25 {
  width: 25%;
}

.block-33 {
  width: 33%;
}

.block-50 {
  width: 50%;
}

.block-100 {
  width: 100%;
}

.time-series-amplitudes {
  position: absolute;
  right: 20px;
  top: 60px;
  height: 500px;
  text-align: right;
}
.time-series-amplitudes ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.time-series-duration {
  position: absolute;
  width: 109%;
  bottom: 22px;
  display: flex;
}

.time-series-duration time {
  width: 20%;
}