<section class="time-series" ng-class="{ loading: !amplitudes }">
    <h2>Time Series</h2>
    <aside class="time-series-amplitudes">
        <ul>
            <li ng-repeat="amplitude in amplitudes track by $index">{{ amplitude }}</li>
        </ul>
    </aside>
    <canvas id="timeSeries" width="950" height="450" style="margin: 40px 80px 40px 0;"></canvas>
    <footer class="time-series-duration">
        <time ng-repeat="second in timeline track by $index" datetime="P1M">{{ second }}</time>
    </footer>
</section>
