<section class="time-series" ng-class="{ loading: !$ctrl.amplitudes }">
    <h2>Time Series</h2>
    <aside class="time-series-channels">
        <ul>
            <li ng-repeat="channel in $ctrl.channels track by $index"
                ng-style="{ 'color': $ctrl.colors[$index].strokeColor }">
                {{ channel }}
            </li>
        </ul>
    </aside>
    <canvas id="timeSeries" width="950" height="450"></canvas>
    <aside class="time-series-amplitudes">
        <ul>
            <li ng-repeat="amplitude in $ctrl.amplitudes track by $index"
                ng-style="{ 'color': $ctrl.colors[$index].strokeColor }">
                {{ amplitude }}
            </li>
        </ul>
    </aside>
    <footer class="time-series-duration">
        <time ng-repeat="time in $ctrl.timeline track by $index"
              datetime="P1M">
            {{ time }}
        </time>
    </footer>
</section>
