<main>
  <bci-filters></bci-filters>
  <section class="content">
    <h1>{{ title }}</h1>
    <nav>
      <a [routerLink]="['/time-series']">Time Series</a>
      <a [routerLink]="['/frequency/line', { type: 'Line' }]">Frequency Line</a>
      <a [routerLink]="['/frequency/radar', { type: 'Radar' }]">Frequency Radar</a>
      <a [routerLink]="['/frequency/bands']">Frequency Bands</a>
      <a [routerLink]="['/motion']">Motion</a>
      <a [routerLink]="['/topo']">Topo</a>
    </nav>
    <router-outlet></router-outlet>
  </section>
</main>