<section>
    <h2>Time</h2>
    <canvas ng-repeat="channel in $ctrl.data track by $index"
            ng-style="{ position: 'absolute', top: ((70 * $index)) + 'px', padding: '20px 0' }"
            height="50"
            id="channel1"
            ng-if="$ctrl.data"
            class="chart chart-line"
            chart-data="[channel]"
            chart-labels="$ctrl.labels"
            chart-options="$ctrl.options"
            chart-colours="[$ctrl.colors[$index]]">
    </canvas>
    <div style="height: 600px"></div>
</section>
