
.chart {
    display: block;
    width: 100%;
    height: 100%;
}

:host {
  display: block;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: #333333;
  position: relative;
  height: 600px;
  overflow: hidden;
}

h2 {
  position: absolute;
  margin: 0;
  top: 10px;
  right: 20px;
  font-weight: 300;
}

.frequency {
  height: 100%;
  padding-top: 40px;
}