<section [ngClass]="{ loading: !grid }">
    <h2>Topo</h2>
    <section class="topoplot-wrapper">

      <article class="topoplot-c1 top left"></article>
      <article class="topoplot-c2 top right"></article>
      <article class="topoplot-c3 middle left"></article>
      <article class="topoplot-c4 middle right"></article>
      <article class="topoplot-c5 third left"></article>
      <article class="topoplot-c6 third right"></article>
      <article class="topoplot-c7 bottom left"></article>
      <article class="topoplot-c8 bottom right"></article>

      <aside class="topoplot-grid">
        <div *ngFor="let pixel of grid, let i = index" 
              [ngStyle]="getColor(i, pixel, grid)" 
              [ngClass]="getClass(i)">
        </div>
      </aside>

    </section>
</section>